<mat-card>
  <mat-card-header>
    Revisar Trabajo de Grado
  </mat-card-header>
  <mat-card-content class="form-container" *ngIf="true">
    <mat-form-field appearance="outline" *ngIf="true">
      <mat-label>Trabajo de Grado</mat-label>
      <mat-select [(ngModel)]="trabajoSeleccionadoId" (selectionChange)="consultarDocumentoTrabajoGrado()">
        <mat-option value=0>Seleccionar</mat-option>
        <mat-option *ngFor="let trabajo of trabajosDirigidos" [value]="trabajo.TrabajoGrado.Id">
          {{ trabajo.TrabajoGrado.Titulo + ' (' + trabajo.TrabajoGrado.Modalidad.Nombre + ') -' +
          'Rol: ' + trabajo.RolTrabajoGrado.Nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>

  <app-versiones-documento *ngIf="trabajoSeleccionadoId > 0" [tiposDocumento]="[3, 4, 5]"
    [trabajoGradoId]="trabajoSeleccionadoId">
  </app-versiones-documento>

  <mat-card-content style="display: flex; flex-direction: row;"
    *ngIf="trabajoSeleccionadoId > 0 && revisionesTrabajoGrado.length">
    <div>
      <mat-toolbar>
        <span>DOCUMENTO</span>
      </mat-toolbar>
      <iframe *ngIf="doc" width="100%" height="820px" [src]="doc"></iframe>
    </div>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let revision of revisionesTrabajoGrado">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'FECHA_REVISION'}}: {{revision.FechaRevision | date:'dd-MMM-yyyy'}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <cite>{{'FECHA_REVISION'}}: {{revision.FechaRevision | date:'dd-MMM-yyyy'}} |
            {{'FECHA_RECEPCION'}}: {{revision.FechaRecepcion | date:'dd-MMM-yyyy'}}</cite>
        </p>

        <app-revisar-documento [revision]="revision" [estadosRevisiones]="estadosRevision" *ngIf="revision.VinculacionTrabajoGrado.Usuario.toString() === documento &&
             (revision.EstadoRevisionTrabajoGrado.CodigoAbreviacion === 'PENDIENTE_PLX' ||
             revision.EstadoRevisionTrabajoGrado.CodigoAbreviacion === 'BORRADOR_PLX')">
        </app-revisar-documento>
        <app-ver-revision [revision]="revision" *ngIf="revision.EstadoRevisionTrabajoGrado.CodigoAbreviacion === 'FINALIZADA_PLX' &&
            revision.VinculacionTrabajoGrado.Usuario.toString() !== documento">
        </app-ver-revision>
        <br>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>

</mat-card>
