<mat-card>
    <mat-card-header>
        <mat-card-title>
            Registrar calificación de trabajos de grado
        </mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
    <mat-card-content *ngIf="mensaje">
        <p>{{mensaje}}</p>
    </mat-card-content>
    <mat-card-content *ngIf="!mensaje && !trabajoSeleccionado">
        <angular2-smart-table *ngIf="!trabajoSeleccionado" [settings]="settings" [source]="trabajosGrado"
            (edit)="onRegistrar($event)" (delete)="onVer($event)" (custom)="onDevolver($event)">
        </angular2-smart-table>
    </mat-card-content>
    <mat-card-content *ngIf="!mensaje && trabajoSeleccionado">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Datos del trabajo de grado
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="text-uppercase"><strong>Nombre: </strong>{{trabajoSeleccionado.TrabajoGrado?.Titulo}}</p>
                <p class="text-uppercase"><strong>Modalidad: </strong>{{trabajoSeleccionado.Modalidad?.Nombre}}</p>
                <p class="text-uppercase"><strong>Periodo:
                    </strong>{{trabajoSeleccionado.TrabajoGrado?.PeriodoAcademico}}</p>
                <p class="text-uppercase"><strong>Estado: </strong>{{trabajoSeleccionado.EstadoTrabajoGrado?.Nombre}}
                </p>
                <p class="text-uppercase"><strong>Documento para revisión: </strong>
                    <button mat-button type="button" (click)="getDocumento()">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Estudiantes del trabajo de grado
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let estudiante of estudiantes">
                    <p class="text-uppercase"><strong>Código: </strong>{{estudiante.codigo}}</p>
                    <p class="text-uppercase"><strong>Nombre: </strong>{{estudiante.nombre}}</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="trabajoSeleccionado.evaluacion">
            <mat-card-header>
                <mat-card-title>
                    Nota
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p class="text-uppercase"><strong>Nota registrada por el docente:
                    </strong>{{trabajoSeleccionado.evaluacion?.Nota}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="notaForm">
            <mat-card-header>
                <mat-card-title>
                    Nota del Trabajo de Grado
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="notaForm" (ngSubmit)="registrarRespuesta()">
                    <mat-form-field *ngIf="notaForm.get('nota')?.enabled">
                        <mat-label>Nota</mat-label>
                        <input type="number" matInput formControlName="nota" placeholder="0.00" min="0" max="5"
                            step="0.01">
                        <mat-error>Las calificación debe estar entre 0.0 y 5.0</mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="notaForm.get('acta')?.enabled">
                        <mat-label>Acta de Socialización</mat-label>
                        <ngx-mat-file-input formControlName="acta" [accept]="'.pdf'">
                        </ngx-mat-file-input>
                        <mat-error>Por favor cargue el acta de sustentación</mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="notaForm.get('correcciones')?.enabled">
                        <mat-label>Correcciones</mat-label>
                        <textarea matInput formControlName="correcciones">
                        </textarea>
                        <mat-error>Por favor indique las razones por las que devuelve el proyecto de grado</mat-error>
                    </mat-form-field>

                    <mat-card-actions align="end">
                        <button mat-raised-button type="submit" color="primary" [disabled]="!notaForm.valid">
                            REGISTRAR</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <mat-card-actions *ngIf="trabajoSeleccionado">
        <button mat-raised-button type="button" color="primary" (click)="onVolver()">
            VOLVER</button>
    </mat-card-actions>
</mat-card>
