:host ::ng-deep angular2-smart-table-title a {
    color: #fff;
}

:host ::ng-deep input-filter {
    color: #000;
}

:host ::ng-deep angular2-st-tbody-custom angular2-st-tbody-edit-delete i {
    color: #000;
}

:host ::ng-deep angular2-smart-action angular2-smart-action-add-add {
    color: #fff;
}