<mat-card>
    <mat-card-header>
        <mat-card-title>
            Consultar trabajo grado
        </mat-card-title>
    </mat-card-header>
    <mat-progress-bar *ngIf="cargando" mode="indeterminate"></mat-progress-bar>
    <mat-card-content>
        <mat-card *ngIf="showForm">
            <mat-card-content style="width: 100%;">
                <mat-form-field>
                    <mat-hint>Ingrese el código de un estudiante para ver su trabajo de grado</mat-hint>
                    <mat-label>Código del estudiante</mat-label>
                    <input type="text" matInput [(ngModel)]="codigo">
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button type="button" color="primary" [disabled]="codigo.length !== 11" (click)="verificarEstudiante()">
                    CONSULTAR
                </button>
            </mat-card-actions>
        </mat-card>
        <div *ngIf="mensaje">
            <p>{{mensaje}}</p>
        </div>

        <div *ngIf="!mensaje && estudiantes?.length">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Datos básicos de los estudiantes.
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div *ngFor="let estudiante of estudiantes">
                        <p class="text-uppercase"><strong>Código: </strong>{{estudiante.datosBasicos?.codigo}}</p>
                        <p class="text-uppercase"><strong>Nombre: </strong>{{estudiante.datosBasicos?.nombre}}</p>
                        <p class="text-uppercase"><strong>Pénsum: </strong>{{estudiante.datosBasicos?.pensum}}</p>
                        <p class="text-uppercase"><strong>Carrera: </strong>{{estudiante.proyecto}}</p>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Datos del trabajo de grado.
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="text-uppercase"><strong>Nombre: </strong>{{trabajoGrado.Titulo}}</p>
                    <p class="text-uppercase"><strong>Modalidad: </strong>{{trabajoGrado.Modalidad.Nombre}}</p>
                    <p class="text-uppercase"><strong>Estado: </strong>{{trabajoGrado.EstadoTrabajoGrado.Nombre}}</p>
                    <p class="text-uppercase"><strong>Periodo: </strong>{{trabajoGrado.PeriodoAcademico}}</p>
                    <div>
                        <p class="text-uppercase"><strong>Areas de Conocimiento: </strong></p>
                        <p *ngFor="let area of areasConocimiento">
                            {{area.Nombre}}
                        </p>
                    </div>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Asignaturas del Trabajo de Grado.
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <angular2-smart-table [settings]="settingsAsignaturas" [source]="asignaturas">
                            </angular2-smart-table>
                        </mat-card-content>
                    </mat-card>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Espacios Académicos.
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <angular2-smart-table [settings]="settingsEspacios" [source]="espacios">
                            </angular2-smart-table>
                        </mat-card-content>
                    </mat-card>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                Vinculados.
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <angular2-smart-table [settings]="settingsVinculaciones" [source]="vinculados">
                            </angular2-smart-table>
                        </mat-card-content>
                    </mat-card>

                </mat-card-content>
            </mat-card>

        </div>
    </mat-card-content>
</mat-card>