<mat-accordion>
    <mat-expansion-panel *ngFor="let correccion of comentariosCorreccion">
        <mat-expansion-panel-header>
            <mat-panel-title>
                CORRECCIÓN
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="correccion.Correccion.EnlaceDocumento" style="padding-bottom: 0.5rem;">
            <button type="button" mat-raised-button (click)="descargarArchivo(correccion.Correccion.EnlaceDocumento)"
                color="primary"><mat-icon>cloud_download</mat-icon>Ver Adjunto</button>
        </div>
        <mat-expansion-panel *ngFor="let comentario of correccion.Comentarios">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{comentario.Comentario}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                <p><small>{{comentario.Comentario}}</small></p>
                <h6> {{comentario.Autor}}
                    <cite>{{comentario.Fecha | date:'dd-MMM-yyyy'}}</cite>
                </h6>
            </div>
        </mat-expansion-panel>
        <mat-card>
            <mat-card-content>
                <mat-form-field style="width: 100%;">
                    <mat-label>Nuevo Comentario</mat-label>
                    <textarea matInput [(ngModel)]="correccion.NuevoComentario"></textarea>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button type="button" [disabled]="!correccion.NuevoComentario.length"
                    (click)="postComentario(correccion)" mat-raised-button color="primary">PUBLICAR</button>
            </mat-card-actions>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>
