<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                CORRECCIONES REALIZADAS
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            <cite>Fecha de Recepción: {{revision.FechaRecepcion | date:'dd-MMM-yyyy'}}</cite>
        </p>

        <mat-expansion-panel [expanded]="true" *ngFor="let correccion of comentariosCorreccion; let i = index">
            <mat-expansion-panel-header style="display: flex;">
                <mat-panel-title>
                    Corrección
                </mat-panel-title>
                <button mat-icon-button color="primary" (click)="eliminarCorreccion(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <mat-card>
                <mat-form-field>
                    <mat-label>Enunciado</mat-label>
                    <input type="text" matInput [(ngModel)]="correccion.Correccion.Observacion">
                </mat-form-field>

                <mat-form-field>
                    <ngx-mat-file-input placeholder="Seleccionar Archivo" [accept]="'.pdf'"
                        [(ngModel)]="correccion.Correccion.Archivo">
                    </ngx-mat-file-input>
                </mat-form-field>

                <div class="container-flex-row" *ngFor="let comentario of correccion.Comentarios; let j = index">
                    <mat-form-field class="form-field">
                        <mat-label>Comentario</mat-label>
                        <textarea matInput [(ngModel)]="comentario.Comentario"></textarea>
                    </mat-form-field>
                    <button mat-icon-button color="primary" (click)="eliminarComentario(i, j)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <mat-card-actions align="end">
                    <button type="button" [disabled]="" (click)="agregarComentario(i)" mat-raised-button
                        color="primary">NUEVO COMENTARIO</button>
                </mat-card-actions>
            </mat-card>
        </mat-expansion-panel>
        <mat-card-actions class="two-buttons-container">
            <button type="button" (click)="agregarCorreccion()" mat-raised-button color="primary">
                NUEVA CORRECCIÓN</button>
            <button type="button" (click)="postRevision()" mat-raised-button color="primary">
                ENVIAR REVISIÓN</button>
        </mat-card-actions>
    </mat-expansion-panel>
</mat-accordion>
