/* You can add global styles to this file, and also import other style files */
@import url("https://pruebasassets.portaloas.udistrital.edu.co/urano-style.css");
@import url("https://pruebasassets.portaloas.udistrital.edu.co/oas.css");

// Angular 2 Smart Table
.smart-table-icon {
    font-size: 1.5rem;
}

.smart-table-icon-add {
    font-size: 1.5rem;
    color: #fff;
}

